.App {
  height: 100vh;
  background-color: #2c2c2c;
  overflow: scroll;
  text-align: center;
  color: #f8f8f8;
}

.App a {
  color: #868686;
  text-decoration: none;
  font-weight: normal;
}

.App a:hover{
  color: white;
}

img {
  max-width: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.header small {
  display: block;
  font-size: .9rem;
  font-weight: normal;
}

.header-container {
  margin-bottom: 3em;
}

.username-container {
  padding-top: 1em;
}

.sub-text {
  font-size: 25px;
  margin-bottom: 0;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #32c3c6 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
    margin-bottom: 1em;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #009bc6, #7bd8e2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-top: 1em;
}

.connect-wallet-button:hover {
  background: -webkit-linear-gradient(left, #7bd8e2, #009bc6);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.submit-button {
  background: -webkit-linear-gradient(left, #009bc6, #7bd8e2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-left: 10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 45px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  font-size: 16px;
}

.nft-table {
  text-align: left;
  margin-bottom: 2em;
  border-spacing: 0;
  width: 100%;
}
.nft-table tr.divider {
  display: block;
  height: 5px;
}

.nft-table .nft-item > * {
  padding: 0 0.5em;
}

.nft-table .nft-item .item-price {
  text-align: right;
}
.nft-table .nft-item .item-name > * {
  vertical-align: middle;
}
.nft-table tbody tr.nft-item td {
  padding: 0.5em;
}
.nft-table tbody tr.nft-item:hover {
  background-color: rgba(255,255,255,0.05);
}

.nft-item img {
  width: auto;
  height: 50px;
  border-radius: 15px;
  margin-right: .5em;
}

.nft-item.table-header {
  opacity: .6;
  font-size: .9em;
  height: 40px;
}

.nft-item.table-header th {
  font-weight: normal;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 0.5em;
}

.nft-item.table-header th.item-name {
  text-align: left;
  padding-left: 65px;
}


.form-container {
  max-width: 500px;
  display: inline-block;
  font-size: .9em;
}

input[type='text'] {
  display: inline-block;
  padding: 10px;
  width: 50%;
  height: 48px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 20px auto;
  color: white;
}

button {
  height: 50px;
}

.hide {
  display: none !important;
}